 <div class="faq-div"> 
    <div class="tou">
    <p>
        <h3>Terms of Use</strong></h3>
        <p>Last updated: (11 8 2019)</p>
        <p>Please read these Terms of Use carefully before using the <a href="https://moveino.com/">https://moveino.com</a> website operated by moveino Inc.</p>
        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
        <p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong></p>

        <p><strong>Purchases</strong></p>
        <p>If you wish to purchase any product or service made available through the Service (“Purchase”), you may be asked to supply certain information relevant to your Purchase including, without limitation</p>

        <p><strong>Termination</strong></p>
        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

        <p><strong>Content</strong></p>
        <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (“Content”). You are responsible for all the content that you post</p>

        <p><strong>Links To Other Web Sites</strong></p>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by moveino Inc.</p>
        <p>Moveino Inc. has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Global Shared Living Group Inc. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

        <p><strong>Changes</strong></p>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 (change this) days’ notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

        <p><strong>Contact Us</strong></p>
        <p>If you have any questions about these Terms, please contact us.</p>

    </div>
    <div class="tou">
        <p>
        <h3><strong>Security</strong></h3>
        </p>
        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.

        <p><strong>Information Use</strong></p>
        <p> We use the information we collect from you to do what we think will improve our services and to develop new ones. We also use this information to offer you tailored content such as likely followers and ads. We may use the name you provide, photos you post, the content you post, like or follow across all of the services we offer.

        <p><strong>Information Security</strong></p>
        <p> We work hard to protect your information from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. We strongly urge you not to post, comment or provide information you deem valuable or private on the site. On our part we review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems. We restrict access to personal information to Moveino employees, our partners, contractors and agents who need to know that information and who are subject to strict contractual confidentiality obligations

        <p><strong>Delete or Deactivating your account</strong></p>
        <p> User accounts cannot be delete or deactivate without approval by us moveino. You contest that we are not responsible for any loss that you may incur when you sign up, use the site or after you deactivate your account. Keep in mind that search engines and other third parties may still retain copies of content that you posted, liked or commented on, like your user profile information, even after you have deleted them or deactivated your account.
        <p> If you want to deactivate or delete your account please contact us</p>
        <p><strong>Changes and Amendments</strong></p>
        <p> We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information. we will notify you at our own discretion of any updates through email or text message. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
        </p>
        </div>
</div>