<div class="faq-div">
    <div class="tou">
        <p>
        <h3><strong>Privacy</strong></h3>
        </p>

        <p>Moveino Privacy Policy informs users of our policies and procedures regarding the collection, use and disclosure of personally identifiable information received from users of this website. This Privacy Policy may be updated from time to time for any reason. All changes will be reflected on this page. When using any of our Services you consent to the collection, transfer, storage, disclosure, and use of your information as described herein now and as amended by us. By using the Service and providing information to us, you consent to our Privacy Policy and terms of service. If you have any questions or comments about this Privacy Policy, please contact us.

        <p> Any information that you or other users provide to Moveino is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use of this information. By providing us with your e-mail address and phone number, you agree to receive any mail we find useful to provide you these services. you consent that we are not obligated to provide you such information. It is your responsibility to update or change your contact information. If you become aware of any unauthorized use of your Registration Data or Account Information for the Services, you agree to notify us immediately. These communications are considered part of the Services and your account, which you may not be able to opt-out from receiving.

        <p><strong>Passwords</strong></p>
        <p> You may be required to register with the site, select a password and a username and provide other information about your identity. You agree and understand that you are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use “strong” passwords with your account. Moveino cannot and will not be liable for any loss or damage arising from your failure to comply with the above.

        <p><strong>Content on the Services</strong></p>
        <p>All Content publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. Moveino do not control, and is not responsible for, Content made available through the Service whether online or offline. Furthermore, the Site and Content available through the Service may contain links to other websites which are completely independent of Moveino. Moveino makes no representation or warranty as to the accuracy, completeness or authenticity of the information contained in any such site. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk. You contest that the site, its affiliates and partners are not responsible for any post or message.

        <p><strong>Copyright Policy</strong></p>
        <p>We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please contact us. We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. In appropriate circumstances, Moveino will also terminate a user’s account if the user is determined to be a repeat infringer You may end your legal agreement with Moveino at any time for any or no reason by deactivating your accounts and discontinuing your use of the Services. We may suspend or terminate your accounts or cease providing you with all or part of the Services at any time for any or no reason. 

        <p><strong>Disclaimers</strong></p>
        <p>The Content on this site is to be used for informational and entertainment purposes only. Moveino, its affiliates and partners specifically disclaim any and all liability arising out of any action taken in reliance on Content. The Service may be temporarily unavailable from time to time for maintenance or other reasons. The Company assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, User Content. Under no circumstances will the Company be responsible for any loss or damage, including any loss or damage to any User Content or personal injury or death, resulting from anyone's use of the Service or any posted on or through the Service or transmitted to or by Users, or any interactions between Users, whether online or offline. You understand and agree that the Services are provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, THE Moveino ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. THE COMPANY CANNOT GUARANTEE AND DOES NOT PROMISE ANY SPECIFIC RESULTS FROM USE OF THE SERVICE. THE COMPANY DOES NOT REPRESENT OR WARRANT THAT SOFTWARE, CONTENT OR MATERIALS ON THE SERVICE OR ELSEWHERE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE OR THAT THE SERVICE OR ANY OF THE SERVERS USED TO OPERATE THE SERVICE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THEREFORE, YOU SHOULD EXERCISE CAUTION IN THE USE AND DOWNLOADING OF ANY CONTENT OR MATERIALS AND USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES. WITHOUT LIMITING THE FOREGOING, YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN CONTENT, DATA OR OTHER MATERIAL FROM OR THROUGH THE SERVICE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR YOUR USE THEREOF AND ANY DAMAGES TO YOUR MOBILE DEVICE OR COMPUTER SYSTEM, LOSS OF DATA OR OTHER HARM OF ANY KIND THAT MAY RESULT.

        <p><strong>Limitations of Liability</strong>
        </p>
        <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE LIABILITY OF THE COMPANY AND ITS AFFILIATES, PARTNERS, MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS TO YOU FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO THE COMPANY FOR THE SERVICE IN THE IMMEDIATELY PRECEDING SIX MONTHS. IN NO EVENT WILL THE COMPANY, ITS AFFILIATES, PARTNERS, MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES OR AGENTS BE LIABLE TO YOU OR ANY THIRD PERSON FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING FOR ANY LOST PROFITS OR LOST DATA ARISING FROM YOUR USE OF THE SERVICE, OR ANY OF THE CONTENT OR OTHER MATERIALS ON ACCESSED THROUGH OR DOWNLOADED FROM THE SERVICE, EVEN IF THE COMPANY OR ITS AFFILIATES, PARTNERS, MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES OR AGENTS IS AWARE OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE Moveino ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.

        <p><strong>Indemnity</strong></p>
        <p>To the fullest extent permitted by law, you agree to indemnify and hold the Company, its subsidiaries and affiliates, and each of their members, managers, directors, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with your use of the Service, your use of any products or services provided by third parties that are made available by the Service, any Content you post or Content you share on or through the Service or otherwise, your conduct in connection with the Service or with other Users, or any violation of these Terms or of any law, rule, regulation or order, or the rights of any third party. This indemnity shall survive any termination or cessation of use by you of the Service.

        <p><strong>Waiver and Severability</strong></p>
        <p>The failure of Moveino to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.

        <p><strong>Controlling Law and Jurisdiction</strong></p>
        <p>These Terms and any action related thereto will be governed by the laws of the State of PA without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in the federal or state courts of Philadelphia PA, United States, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum. If you are a federal, state, or local government entity in the United States using Moveino in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of Pennsylvania (excluding choice of law).

        <p><strong>Entire Agreement</strong></p>
        <p>These Terms, are the entire and exclusive agreement between Moveino and you regarding the Services (excluding any services for which you have a separate agreement with Moveino that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between Moveino and you regarding the Services.


        <p><strong>Information Collection</strong></p>
        <p>We may collect the following categories of personal information about you through the Site, including but not limited to: Registration information: basic registration information, such as an email address and password. Identification information: such as your name, phone number or email, username, address, and phone number. Third party credentials: You may also enter in certain passwords, usernames, account numbers, and other account information for third party sites and Internet services. Technical and navigational information: such as computer browser type, pages visited, average time spent on our Site, IP address, unique identifier of the device, operating system version and app version. Location information: we may collect location information from your device Computer Cookies, IP address and other computer programing technology and languages: We may use various technologies to collect and store information when you use our service. Certain services require the use of cookies a unique application number or similar technologies to identify your browser or device that you use our service with, like operating system type and application version number. We also use these technologies to collect and store information when you interact with services we offer to our partners, such as advertising Other information: We may request or receive other personal information like email through feedback, questions, comments, and suggestions, We may use your contact information to market to you, and provide you with information about, our products and services, including but not limited to our Service. If you decide at any time that you no longer wish to receive such information or communications from us, please deactivate your account.

        <p><strong>Cookies</strong></p>
        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
        </p>
        <p>
            Like all dynamic websites, Moveino uses cookies. This site cannot be functional without cookies. Please logout of the site if you choose not to allow us to store cookies with your information. Moveino uses cookies for different reasons such as;
        </p>
        <p>
        <ul class="tou-ul">
            <li>
                <b>Authentication</b>
                Some featues like posting and reply are only for registered users
            </li>
            <li>
                <b>Performance</b>
                Without cookies, posts will take longer than usual to load. videos will not have controls etc.
            </li>
            <li>
                <b>Advertising</b>
                Oursite is free, however we use targeting advertisements based on user information generated from cookies
            </li>
        </ul>
        <p>
            We do use cookies to store information, such as your personal preferences when you visit our site. This could include only showing you a popup once in your visit, or the ability to login to some of our features, such as forums.
        </p>
        <p>
            We also use third party advertisements to support our site. Some of these advertisers may use technology such as cookies and web beacons when they advertise on our site, which will also send these advertisers (such as Google through the Google AdSense program) information including your IP address, your ISP , the browser you used to visit our site, and in some cases, whether you have Flash installed. This is generally used for geotargeting purposes (showing New York real estate ads to someone in New York, for example) or showing certain ads based on specific sites visited (such as showing cooking ads to someone who frequents cooking sites).
        </p>
        <p>
            You can choose to disable or selectively turn off our cookies or third-party cookies in your browser settings, or by managing preferences in programs such as Norton Internet Security. However, this can affect how you are able to interact with our site as well as other websites. This could include the inability to login to services or programs, such as logging into forums or accounts.
        </p>
        <p>
            Deleting cookies does not mean you are permanently opted out of any advertising program. Unless you have settings that disallow cookies, the next time you visit a site running the advertisements, a new cookie will be added.
        </p>
        <p>
            Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to your website or other websites. Google's use of advertising cookies enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet. Users may opt out of personalized advertising by visiting Ads Settings.
        </p>
        <p>
            You can opt out of a third-party vendor's use of cookies for personalized advertising by visiting www.aboutads.info.
        </p>
        <p>
            If you have not opted out of third-party ad serving, the cookies of other third-party vendors or ad networks may also be used to serve ads on your site, which should also be disclosed in your privacy policy in the following manner:
        </p>
        <p>
    </div>
</div>